body {
    margin: 0;
    padding: 0;
}

header div {
    text-decoration: none;
    font-family: Raleway;
    font-size: 20px;
    margin-left: 80px;
}

header div p a {
    text-decoration: none;
    color: black;
}

nav {
    text-align: right;
    padding-right: 80px;
    padding-bottom: 28px;
}
nav a {
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Raleway;
}

header {
    width: 100%;
    background-color: white;
    margin-top: 28px;
}

main {
    font-family: Raleway;
    text-align: center;
    padding-top: 30px;
    background: url(images/white-texture-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#profile {
    width: 25%;
    border-radius: 50%;
    filter: brightness(105%);
    padding-top: 15px;
}

main p {
    font-size: 2vw;
    text-align: center;
}

#arrow {
    width: 2%;
    padding-top: 25px;
    padding-bottom: 150px;
}

section {
    padding-top: 50px;
    padding-bottom: 600px;
    height: 700px;
    padding-left: 290px;
    padding-right: 290px;
    background-color: rgba(255, 255, 255, 0.667);
    height: 100px;
}

section h1 {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

section h2 {
    padding-bottom: 30px;
}

section p {
    font-size: 16px;
}

footer {
    padding-top: 30px;
    height: 300px;
    padding-left: 80px;
    background-color: rgba(251, 184, 167, 0.911);
    text-align: left;
    width: fill;
    font-size: 10px;
}


#LinkedIn {
    width: 60px;
    height: 60px;
    padding-top: 13px;
    padding-left: 40px;
    box-sizing: content-box;
}

#Github {
    width: 48px;
    height: 48px;
    padding-top: 18px;
    padding-left: 10px;
    padding-right: 14px;
    box-sizing: content-box;
}

#Email {
    width: 60px;
    height: 60px;
    padding-top: 13px;
    box-sizing: content-box;
}

footer h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

footer div {
    font-family: 'Raleway', sans-serif;
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    font-size: 16px;
}

