body {
    margin: 0;
    padding: 0;
    background-color: rgb(6, 20, 36);
}

#intro {
    height: 100vh;
}

#header {
    text-align: right;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgb(6, 20, 36);
    font-family: 'Barlow', sans-serif;
}

#header a{
    display: inline;
    padding-right: 3%;
    color: white;
    text-decoration: none;
}

#header-sep {
    height: 2px;
    background-color: white;
}


#front {
    height: 100vh;
    margin-top: 5%;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
}

#front p {
    line-height: 200%;
    font-weight: 300;
    font-size: 175%;
    color: white;
    padding-top: 2%;
}

#front a:hover {
    color: rgb(240, 193, 63);
}

#linkedin {
    text-decoration: none;
    color: white;
    font-weight: 700;
}



#arrow {
    padding-bottom: 1%;
    width: 6%;
    opacity: 0.5;
}


