body {
    margin: 0;
    padding: 0;
    background-color: rgb(6, 20, 36);
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 3vw;
    padding-top: 4%;
}

h2 {
    font-weight: 300;
    line-height: 150%;
    font-size: 2.5vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

h3 {
    font-weight: 300;
    font-size: 120%;
    line-height: 130%;
}

a {
    font-weight: 600;
    color: rgb(153, 226, 255);
}


p {
    padding-top: 1%;
    font-weight: 300;
    font-size: 90%;
    line-height: 150%;
}

#intro {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 5%;
    height: 100%;
}

#intro h1 {
    font-size: 5vw;
}

#intro h2 {
    padding-left: 40px;
}

#intro a {
    font-size: 125%;
    color: white;
}

#about {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    padding-top: 6%;
    height: 100%;
}

#about p {
    font-size: 110%;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 40vw;
    border-radius: 50%;
    filter: brightness(105%);

}

#image {
    position: relative;
    display: inline-block;
    text-align: center;
} 

#projects {
    padding-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    height: 100%;
}

#projects p {
    font-size: 90%;
}

#ShotSpot {
    padding-top: 5%;
}

#CalorEats {
    padding-top: 5%;
}

#experience {
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

#experience p {
    padding-top: 2%;
    line-height: 110%;
    font-size: 90%;
}

#btn1 {
    margin-top: 12%;
}

#row2 {
    margin-bottom: 10%;
}

#footer {
    text-align: center;
    padding-top: 10%;
    margin-bottom: 5%;
}


